<%= content_for :page_title, "Comment" %>
<h2><%= comment.name %></h2>
<div class="post">
    <div>
        <p><%= comment.comment %></p>
        <small>commented on <%= comment.created_at %></small><br>
    </div>
    <% if logged_in? %>
        <button id="delete">
            <%= link_to "Delete", [comment.post, comment], 
            method: :delete, data: { confirm: "Are you sure ?" } %>
        </button>
    <% end %>
</div>
