<%= form_for([@post, @post.comments.build]) do |f| %>
    <ul>
        <% @post.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
    <%= f.submit %>
    <%= link_to 'create user', authors_path %>
<% end %>