<%= content_for :page_title, "View Post" %>
<h2><%= @post.title %></h2>

<div class="post">
    <div class="image">
        <% if @post.image.exists? %>
            <%= image_tag @post.image.url %><br/>
        <% else %>
            <p>No Image</p>
        <% end %>
    </div>
    <div class="text">
        <p><%= @post.content%></p>
        <small>posted on <%= @post.created_at %></small>
        <p>
            Tags:
            <% @post.tags.each do |tag| %>
                <%= link_to tag.name, tag_path(tag) %>
            <% end %>
        </p>
        <div class="edit-delete">
            <button id="edit"><%= link_to "Edit", edit_post_path(@post) %></button>
            <button id="delete">
            <%= link_to "Delete", post_path(@post), 
            method: :delete, data: { confirm: "Are you sure ?" } %>
            </button> 
        </div>
    </div>
</div>
<div class="comment">
    <h3 class="count"><%= pluralize(@post.comments.count, "comment") %></h3>
    <h2>Add a comment</h2>
    <%= render @post.comments %>
    <%= render "comments/form" %>
</div>

<h3 id="back"><%=link_to "Back", root_path %></h3>
