<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h1><%= link_to "Sample Blog", root_path %></h1>
      <nav class="navigation">
        <li><%=link_to "Home", root_path %></li>
        <li><%=link_to "About", posts_about_path %></li>
        <li><%=link_to "Contact", posts_contact_path %></li>
      </nav>
    </header>
    <div class="container-fluid">
        <%= yield %>
    </div>
    <div class="footer">
      
      <nav class="navigation">
        <li><%=link_to "Home", root_path %></li>
        <li><%=link_to "About", posts_about_path %></li>
        <li><%=link_to "Contact", posts_contact_path %></li>
      </nav>
      <p>Built by <span id="name">Theophile Kango</span> &copy 2020</p> 
    </div>
  </body>
</html>
